In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("cleaned data/state-year-visa.csv")

In [6]:
df_grouped = df.groupby(["State"])["Number"].sum()

In [7]:
df_grouped

State
Australian Capital Territory     34695
New South Wales                 613024
Northern Territory               17909
Queensland                      289712
South Australia                 121338
Tasmania                         14096
Victoria                        531294
Western Australia               289605
Name: Number, dtype: int64

In [12]:
df = pd.read_csv("cleaned data/year-industry.csv")

In [13]:
df = df.groupby(df["Industry"])["Number"].sum()

In [14]:
df = df.to_frame()

In [15]:
df

                                                 Number
Industry
Accommodation and Food Services                   35965
Administrative and Support Services                1556
Agriculture, Forestry and Fishing                  6223
Arts and Recreation Services                       3379
Construction                                      18376
Education and Training                            13998
Electricity, Gas, Water and Waste Services         4005
Financial and Insurance Services                   7981
Health Care and Social Assistance                 29862
Information Media and Telecommunications          14149
Manufacturing                                     17349
Mining                                             7612
Other Services                                    31215
Professional, Scientific and Technical Services   21005
Public Administration and Safety                   2222
Rental, Hiring and Real Estate Services            2825
Retail Trade                                      11923
Transport Postal and Warehousing                   3564
Wholesale Trade                                    4147

In [19]:
df.sort_values('Number').tail(10)

                                                 Number
Industry
Financial and Insurance Services                   7981
Retail Trade                                      11923
Education and Training                            13998
Information Media and Telecommunications          14149
Manufacturing                                     17349
Construction                                      18376
Professional, Scientific and Technical Services   21005
Health Care and Social Assistance                 29862
Other Services                                    31215
Accommodation and Food Services                   35965

In [ ]:
industry = ["Financial and Insurance Services",
"Retail Trade",
"Education and Training",
"Information Media and Telecommunications",
"Manufacturing",
"Construction",
"Professional, Scientific and Technical Services",
"Health Care and Social Assistance",
"Other Services",
"Accommodation and Food Services"]